body {
	background-image: url('img_files/blue-ocean-3.jpg')
	

}


h2 {
	text-align: center;
	background-color: white;
	font-family: 'Piedra', cursive;
}

.container {
	display: flex;
	justify-content: space-between; 
	border: 1px solid black;
	background-color: rgb(4, 72, 191);
	width: 1050px;
	height: 500px;
	border-radius: 15px;
	opacity: .9;
	margin: auto;
	flex-wrap: wrap;



}






.card {
	border: 1px solid black;
	background-size: contain ;
	grid-template-columns: 60px 60px;
	grid-row-gap: 1em;
	display: grid;
	grid-row: 1 / span: 2;
	border-radius: 15px;
	height: 12em;
	max-width: 100%;
}

.sunset {
	background-image: url('img_files/ocean.png');
	
}



.fish { 
		background-image: url('img_files/fish_ocean.png');
		width: 122px;
		height: 194px;

		
}

.mermaid { /* matches 7 */
		background-image: url('img_files/mermaid_ocean.png');
		width: 122px;
		height: 194px;
		align-items: center;
	}




.jellyfish { /* matches 2 */
	background-image: url('img_files/jellyfish.png');
	width: 122px;
	height: 194px;
}

.starfish {
	background-image: url('img_files/starfish.png');
	width: 122px;
	height: 194px;
}
.seaturtle {
	background-image: url('img_files/sea-turtle.png');
	width: 122px;
	height: 194px;
}

.clownfish {
	background-image: url('img_files/clownfish.png');
	width: 122px;
	height: 194px;
}


.card-back {

	background-image: url('img_files/ocean2.png');
	background-size: cover;
	width: 122px;
	height: 194px;

	
}

.match-container {
	margin: auto;
	text-align: center;
	font-size: 35px;
	background-image: url('img_files/starfish.png') ;
	width: 150px;
	height: 125px;
	border-radius: 10px;
	font-family: 'Piedra', cursive;
	color: rgb(237, 201, 175);;

	
	
}



#start-button {
	margin: 0 auto;
	text-align: center;


}

button {
	font-size: 35px;
	font-family: 'Piedra', cursive;
	background-color: skyblue;
	color: rgb(237, 201, 175);
}

#countdown {
	background-color: white;
	border-radius:20;
	text-align: center;
	font-size: 20px;
	font-family: 'Piedra', cursive;
}

